*{
    margin :0;
    padding: 0;
}@font-face {
    font-family: '古风大气';
    src: url('../长城/古风大气.ttf');
  }
.content {
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    background: url(../img/登录06.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    position: relative;
    width: 800px;
    height: 360px;
    background-color: rgba(77, 74, 57, 0.728);
    border-radius: 30px;
    padding: 30px;
}
.left{
    display: inline-block;
    width: 500px;
    height: 100%;
    /* 保持原有比例，内容被缩放 */
    object-fit: contain;
    background: url(../img/登录06.png) no-repeat;
    background-size: cover;
    border-radius: 20px 20px 20px 20px;
}
.refister-box{
    width: 330px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.refister-box h1{
    font-size: 36px;
    margin: 57px 6px;
    color: #f8f7f7;
    font-family: 古风大气;

}
input{
    margin-bottom: 20px;
    width: 150px;
    padding: 12px 42px;
    border-radius: 36px;
    outline: none;
    font-size: 18px;
    font-size: 15px;
    font-family: 古风大气;
    
}
.mima span{
    position: absolute;
    top: 56%;
    right: 67px;
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
}

button{
    position: relative;
    margin: 0px 0;
    outline: none;
    height: 45px;
    padding: 6px;
    width: 75px;
    background: #6d586d;
    color: aliceblue;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 古风大气;
}
button:hover{
    background: rgba(120, 240, 250, 0.402);
}
.h2{
    margin: 14px 8px 6px 166px;
    left: 170px;
    font-size: large;
    font-family: 古风大气;
    color: rgb(180, 218, 252);
}
.h2:hover{
    color: rgba(40, 37, 99, 0.909);
}
/* 响应式布局是指在同一页面在不同屏幕尺寸下有不同的布局 */
/* 响应式页面的设定 */
/* 屏幕大于或等于900像素的css */
@media screen and (mix-width: 600px){
    .middle {
        margin: 0 30px;
    }

    .left {
        border-radius: 20px;
    }
    
    .refister-box{
        background-color: rgba(52, 0, 73, 0.5);
    }
}
/* 屏幕小于或等于600像素的css */
@media screen and (max-width: 600px) {
    .content {
        /* 背景图片不填充 */
        background: url(../img/登录06.png) no-repeat center;
    }

    .middle {
        /* 将背景颜色设置为透明 */
        background-color: transparent;
    }

    .left {
        display: none;
    }

    .refister-box {
        /* 将属性还原回默认值 */
        position: initial;
        margin: -40px auto;
        background-color: transparent;
    }
}